<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" id="viewport" data-content="width=960" content="">
        <meta name="author" content="Eugeniy Henov">
        <link href="/images/favicon.png" rel="shortcut icon" type="image/x-icon" />
        <script>
            function changeViewport(){
            var metaVP = document.getElementById('viewport');
              var width = metaVP.dataset.content;
            if(window.innerWidth < (parseInt(width.replace(/\D+/g,"")))){
                metaVP.attributes[3].value = width;
              }else{
                metaVP.attributes[3].value = "";
              }
            }
            changeViewport();
            window.addEventListener("resize", changeViewport);
        </script>
        <!-- Normalize v5.0.0 -->
        <link rel="stylesheet" href="/stylesheets/normalise.css">

        <!-- Main style -->
        <link rel="stylesheet" href="/stylesheets/style.css">

        <% if(admin){ %>
        <!-- Admin styles -->
        <link rel="stylesheet" href="/stylesheets/admin-styles.css">
        <% } %>
        <script type="text/javascript" src="/javascripts/HackTimer.silent.js"></script>
    </head>

    <body>
        <script type="text/x-config">
        </script>

        <div id="preloader" class="isActive">
            <div class="preloader__loader"></div>
        </div>
        
        <div class="hdMsg" data-module="headerMessage">
            <div class="hdMsg__wrap">
                <div class="hdMsg__msg"></div>
                <div class="hdMsg__bgSymb">
                    <span class="hdMsg__symb"></span>
                </div>
            </div>
        </div>

        <!--[if lt IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="wrapper">
            <!-- Header -->
            <%- include elements/header %>

            <input type="hidden" class="js-balance" value="">

            <!-- Content -->
            <%- body -%>
            
            <!-- Footer -->
            <%- include elements/footer %>
        </div>

        <!-- Modals -->
        <%- include elements/modals %>

        <!-- X-Templates -->
        <%- include elements/templates %>

        <!-- JQuery -->
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>

        <!-- UnderscoreJS -->
        <script src="/bower_components/underscore/underscore-min.js"></script>

        <!-- NiceScroll -->
        <script src="/bower_components/jquery.nicescroll/jquery.nicescroll.min.js"></script>

        <!-- Socket IO -->
        <script src="/socket.io/socket.io.js"></script>

        <!-- Plugins -->
        <script src="/javascripts/plugins.js"></script>

        <!-- CORE -->
        <script src="/javascripts/core.js"></script>

        <% if(admin){ %>
        <!-- ADMIN CORE -->
        <script src="/javascripts/admin-core.js"></script>
        <% } %>

        <!-- START Core -->
        <script>
            jQuery(document).ready(function($){
                Plugins.start();
                setImmediate(function(){
                    window.config = $('body').getConfig();
                    Core.init();
                    <% if("sessionMsg" in get.req.query){
                    let msg = get.req.query.sessionMsg;
                    let type = get.req.query.msgType; %>
                    ViewMessage("<%= msg %>", "<%= type %>");
                    <% } %>
                });
            });
            //Developer: gERYH (Eugeniy Henov)
        </script>

    </body>
</html>